<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Gmail / Outlook.com  -->
    <add key="mail_saas" value="Gmail"/>
    <add key="mail_accound" value="user@gmail.com"/>
    <add key="mail_password" value="password"/>
    <add key="mail_to_address" value="test@yammer.com" />
  </appSettings>
</configuration>